<div class="query-container">
  <div class="query-box vulnerable">
    <h2>Vulnerable Login</h2>
    <input [(ngModel)]="vulnEmail" placeholder="Email" class="input-field" />
    <input [(ngModel)]="vulnPassword" placeholder="Password" type="password" class="input-field" /> 
    <button (click)="onVulnSubmit()" class="submit-btn vulnerable-btn">Submit</button>
    <div id="vulnResult" class="result">{{ vulnQueryResult }}</div>
    </div>

  <div class="query-box safe">
    <h2>Safe Login</h2>
    <input [(ngModel)]="safeEmail" placeholder="Email" class="input-field" />
    <input [(ngModel)]="safePassword" placeholder="Password" type="password" class="input-field" />
    <button (click)="onSafeSubmit()" class="submit-btn safe-btn">Submit</button>
    <div id="safeResult" class="result">{{ safeQueryResult }}</div>
  </div>
</div>
